body{
    background-color: #00A1E4;
}


.search-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

input {
    align-self: center;
    border: none;
    appearance: none;
    background: #f2f2f2;
    padding: 1%;
    border-radius: 10px;
    width: 90%;
    height: 50px;
    outline: none;
    font-size: larger;
    text-align: center;
}

.question-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.card{
    background-color: #ffffffd0;
    padding: 2%;
    border-radius: 10px;
    width: 70%;
    margin: 2%;
}

.card > .header{
    font-weight: bold;
    font-size: x-large;
    padding: 1%;
}

.card > .body{
    font-size: large;
}

hr {
    border-color: #00A1E4;
}

.hide {
    display: none;
}

.navbar ul {
    list-style-type: none;
    background-color: #006d9b;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: x-large;
    font-family: bold;
}

.navbar a:hover{
    background-color: #005579;
}

.selected-nav {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: x-large;
    font-family: bold;
    background-color: #005579;
}

.navbar li {
    float: left;
}